.files-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background: #f0efef;
    box-shadow: 4px 4px 4px #808080;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 36px;
        background: #3D8EBB;
        color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px 0;
    }

    .table-col-names {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 700;
        background: #DAD9FB;
        padding: 15px 0;
        margin-bottom: 20px;
    }

    .table-row-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 517px;

        .table-cell {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 95%;
            height: 65px;
            font-size: 18px;
            padding: 20px 0px;
            margin-bottom: 20px;
            border-radius: 15px;
            background: #ffffff;
            box-shadow: 4px 4px 4px #808080;
            cursor: pointer;
            
            .file-preview {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 125px;
                height: 100%;
            }
        }
    }
}